@font-face {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("@fontsource/noto-sans-jp/files/noto-sans-jp-japanese-400-normal.woff2")
    format("woff2");
}

@font-face {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("@fontsource/noto-sans-jp/files/noto-sans-jp-japanese-700-normal.woff2")
    format("woff2");
}
